asgiref==3.9.1
Django==5.2.4
pillow==11.3.0
sqlparse==0.5.3
tzdata==2025.2
psycopg2-binary==2.9.10
gunicorn
cloudinary==1.36.0
django-cloudinary-storage==0.3.0
requests
google-generativeai
openpyxl
whitenoise
Pillow
